.logo_1 {
  color: #2196f3;
}
span {
  color: #000000;
}
.nav_links {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-decoration: none;
}
.nav_links a:hover {
  color: #2196f3;
}
.link_studio {
  color: #212121;
  position: absolute;
  width: 45px;
  height: 16px;
  left: 453px;
  top: 32px;
}
.link_portfolio {
  color: #212121;
  position: absolute;
  width: 72px;
  height: 16px;
  left: 562px;
  top: 32px;
}
.link_contacs {
  color: #212121;
  position: absolute;
  width: 64px;
  height: 16px;
  left: 679px;
  top: 32px;
}
.div_links a:hover {
  color: #2196f3;
}
.link_email {
  color: #212121;
  position: absolute;
  width: 350px;
  height: 16px;
  left: 1078px;
  top: 32px;
}
.link_tel {
  color: #212121;
  position: absolute;
  width: 500px;
  height: 16px;
  left: 1263px;
  top: 32px;
}
.primo {
  position: absolute;
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background-color: #2f303a;
}
.big_text {
  font-size: 44px;
  color: #ffffff;
  position: absolute;
  width: 696px;
  height: 120px;
  left: 452px;
  top: 280px;
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
button {
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.about {
  position: absolute;
  width: 1171px;
  height: 101px;
  left: 215px;
  top: 774px;
}
.about_1 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 215px;
  top: 774px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.about_2 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 515px;
  top: 774px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.about_3 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 815px;
  top: 774px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.about_4 {
  position: absolute;
  width: 270px;
  height: 16px;
  left: 1116px;
  top: 774px;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.about_p1 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 215px;
  top: 800px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}

.about_p2 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 515px;
  top: 800px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.about_p3 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 815px;
  top: 800px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.about_p4 {
  position: absolute;
  width: 270px;
  height: 75px;
  left: 1115px;
  top: 800px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
}
.aboutus_text {
  position: absolute;
  width: 366px;
  height: 42px;
  left: 617px;
  top: 969px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  border: 1px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.img_1 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 215px;
  top: 1061px;
}
.img_2 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 613px;
  top: 1061px;
}
.img_3 {
  position: absolute;
  width: 370px;
  height: 294px;
  left: 1015px;
  top: 1061px;
}
li {
  text-decoration: none;
  list-style-type: none;
}
.team_text {
  position: absolute;
  width: 264px;
  height: 42px;
  left: 666px;
  top: 1543px;
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.img_4 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 213px;
  top: 1635px;
}
.name_1 {
  position: absolute;
  width: 130px;
  height: 19px;
  left: 283px;
  top: 1925px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.role_1 {
  position: absolute;
  width: 130px;
  height: 19px;
  left: 283px;
  top: 1954px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.img_5 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 513px;
  top: 1635px;
  border-radius: 0px;
}
.name_2 {
  position: absolute;
  width: 104px;
  height: 19px;
  left: 596px;
  top: 1925px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.role_2 {
  position: absolute;
  width: 147px;
  height: 19px;
  left: 575px;
  top: 1954px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.img_6 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 813px;
  top: 1635px;
  border-radius: 0px;
}
.name_3 {
  position: absolute;
  width: 130px;
  height: 19px;
  left: 883px;
  top: 1925px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.role_3 {
  position: absolute;
  width: 76px;
  height: 19px;
  left: 910px;
  top: 1954px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.img_7 {
  position: absolute;
  width: 270px;
  height: 260px;
  left: 1113px;
  top: 1635px;
  border-radius: 0px;
}
.name_4 {
  position: absolute;
  width: 145px;
  height: 19px;
  left: 1176px;
  top: 1925px;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.role_4 {
  position: absolute;
  width: 87px;
  height: 19px;
  left: 1205px;
  top: 1954px;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}
.our_team {
  position: absolute;
  width: 1600px;
  height: 648px;
  left: -2px;
  top: 1449px;
}
footer {
  position: absolute;
  width: 1600px;
  height: 252px;
  left: 0px;
  top: 2097px;
  background: #2f303a;
}
.logo_2 {
  color: #2196f3;
}
span {
  color: #000000;
}
.link_addres {
  color: #ffffff;
}
.link_email2 {
  color: rgba(255, 255, 255, 0.6);
}
.link_tel2 {
  color: rgba(255, 255, 255, 0.6);
}
