$color_1: #757575;
$color_2: #2196f3;
$color_3: #212121;
$color_4: black;
$color_5: #ffffff;
$color_6: #fff;
$color_7: rgba(255, 255, 255, 0.6);
$font-family_1: "Roboto";
$font-family_2: "Raleway";
$background-color_1: #ffffff;
$background-color_2: #2196f3;
$background-color_3: #f5f4fa;
$background-color_4: white;
$background-color_5: #2f303a;
$background-color_6: rgba(0, 0, 0, 0);
$border-color_1: #2196f3;
